.header{
    background-color: #242f42;
}
.login-wrap{
    background: #324157;
}
.plugins-tips{
    background: #eef1f6;
}
.plugins-tips a{
    color: #0da5aa;
}
.el-upload--text em {
    color: #0da5aa;
}
.pure-button{
    background: #0da5aa;
}
.tags-li.active {
    border: 1px solid #0da5aa;
    background-color: #0da5aa;
}
.message-title{
    color: #0da5aa;
}
.collapse-btn:hover{
    background: rgb(122, 162, 222);
}